@use "./foundation" as *;
 @use "./globals.base" as *;
   @use "./header" as *;
    @use "./offers" as *;
    @use "./booking" as *;
     @use "./profile" as *;
      @use "./footer" as *; 
      @use "./home" as *;
       @use "./news" as *;
        @use "./coaches" as *;


       

